manifest {
  description = "stammerula"
  author = "ndreey"
}

apptainer {
    enabled    = true       // Enables Apptainer 
    autoMounts = true       // Automatically mounts paths into the container.
}



process {
  executor = "slurm"            // Use SLURM for all processes
  queue = "shared"              // Adjust if your HPC uses a named queue/partition
  cpus = 2                      // Default CPU per job
  queueSize = 30                 // Number of jobs to run simultaneously
  submitRateLimit = "30 min"     // Submission rate
  clusterOptions = "-A ${params.slurm.project}"

  withName: FASTQC_RAW {
    clusterOptions = "-A ${params.slurm.project} --job-name=fastqc_raw"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-raw",
      mode: "symlink"
    ]
  }

  withName: FASTQC_CCS {
    clusterOptions = "-A ${params.slurm.project} --job-name=fastqc_ccs"
    memory = "4 GB"
    cpus = 2
    time = "1h 30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-ccs-raw",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_RAW {
    clusterOptions = "-A ${params.slurm.project} --job-name=multiqc_raw"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-raw",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_CCS {
    clusterOptions = "-A ${params.slurm.project} --job-name=multiqc_ccs"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-ccs-raw",
      mode: "symlink"
    ]    
  }

  withName: TRIM {
    queue = "main"
    memory = "12 GB"
    cpus = 4
    time = "1h 30m"
  }

  withName: FASTQC_TRIM {
    clusterOptions = "-A ${params.slurm.project} --job-name=fastqc_trim"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-trim",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_TRIM {
    clusterOptions = "-A ${params.slurm.project} --job-name=multiqc_trim"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-trim",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_FASTP {
    clusterOptions = "-A ${params.slurm.project} --job-name=multiqc_fastp"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-fastp",
      mode: "symlink"
    ]
  }

  resourceLimits = [
    memory: 256.GB,
    cpus: 36,
    time: 1.d
  ]
}


//timeline {
//  enabled = true
//  file = "${projDir}/run-stats/timeline.html"
//}
//
//report {
//  enabled = true
//  file = "${projDir}/run-stats/report.html"
//}

