
/*
=======================================
  Description: Master Thesis
  Author: André Bourbonnais (ndreey)
  emai: andbou95@gmail.com
=======================================
*/

import java.time.*
Date now = new Date()


manifest {
  homePage = "https://github.com/ndreey/stammerula2025"
  description = "stammerula"
  mainScript = "main.nf"
  version = "1.0.0"
  author = "ndreey"
}


apptainer {
    enabled    = true       // Enables Apptainer 
    autoMounts = true       // Automatically mounts paths into the container.
}


// Dynamic parameters
params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}


// Workflow
process {
  executor = "slurm"            // Use SLURM for all processes
  queue = "shared"              // Adjust if your HPC uses a named queue/partition
  cpus = 2                      // Default CPU per job
  queueSize = 30                 // Number of jobs to run simultaneously
  submitRateLimit = "30 min"     // Submission rate
  clusterOptions = "-A ${params.slurm.project}"

  withName: FASTQC_RAW {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-fastqc_raw"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-raw",
      mode: "symlink"
    ]
  }

  withName: FASTQC_CCS {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-fastqc_ccs"
    memory = "4 GB"
    cpus = 2
    time = "1h 30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-ccs-raw",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_RAW {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-multiqc_raw"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-raw",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_CCS {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-multiqc_ccs"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-ccs-raw",
      mode: "symlink"
    ]    
  }

  withName: TRIM {
    memory = "12 GB"
    cpus = 4
    time = "1h 30m"
  }

  withName: FASTQC_TRIM {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-fastqc_trim"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/fastqc-trim",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_TRIM {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-multiqc_trim"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-trim",
      mode: "symlink"
    ]
  }

  withName: MULTIQC_FASTP {
    clusterOptions = "-A ${params.slurm.project} --job-name=nf-multiqc_fastp"
    memory = "4 GB"
    cpus = 2
    time = "30m"
    publishDir = [
      path: "${params.res.qc}/multiqc-fastp",
      mode: "symlink"
    ]
  }

  resourceLimits = [
    memory: 256.GB,
    cpus: 36,
    time: 1.d
  ]
}


// Reports
timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.png"
}
